**/.git
**/.gitignore

**/__pycache__
*.pyc
*.pyo
*.pyd
**/venv
**/.venv
.coverage
.coverage.*
htmlcov
.cache
coverage.xml
*.cover
.pytest_cache

**/node_modules/

**/.idea
**/.vscode
**/.DS_Store

*.md

