{
    "google": {
        "client_id": "",
        "secret": ""
    },

    "github": {
        "client_id": "",
        "secret": ""
    },

    "discord": {
        "client_id": "",
        "secret": ""
    }
}