{
    "google": {
        "client_id": "your_google_client_id",
        "secret": "your_google_secret"
    },

    "github": {
        "client_id": "your_github_client_id",
        "secret": "your_github_secret"
    },

    "discord": {
        "client_id": "your_discord_client_id",
        "secret": "your_discord_secret"
    }
}