{% extends "wongnung/wongnung_page.html" %}
{% block t %}Sign In{% endblock %}
{% block c %}
<!-- Prototype login page, subject to change -->
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="flex flex-col justify-center m-72">
        <div class="flex align-center justify-between">
            <span>Username</span>
            {{ form.username }}
        </div>
        <div class="flex align-center justify-between">
            <span>Password</span>
            {{ form.password }}
        </div>
        <button class="mx-96 my-6 py-2 rounded-md bg-component-red text-white hover:shadow-md" type="submit">Login</button>
        <input type="hidden" name="next" value="{{next}}" />
    </div>
</form>
{% endblock %}
