<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <p>Dear {{ user.first_name }},</p>
    <p>Someone has requested a password reset for the account associated with this email ({{ email }}). If this was you, please click on the link below to reset your password. If you did not request a password reset, please ignore this email.</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <p>This link will expire in 48 hours.</p>
    <p>Thank you,</p>
    <p>The {{ site_name }} Team</p>
</body>
</html>