<div class="p-5 divide-y divide-tag-yellow overflow-hidden">
    <!--What is WongNung-->
    <div class="w-full pb-5">
        <div class="font-primary text-tag-yellow text-3xl">
            What is WongNung?
        </div>
        <div class="font-body text-white text-xl indent-10 pt-3">
            <div>“WongNung” is a community-driven review-aggregation web application for film where users can read, post reviews for film and discover groups of users (called Fandom) with similar film preferences. Users can also join those Fandoms to discover films that are reviewed by the members and keep themselves personalized to their film preferences.</div>
            <div>The application is intended for users who want to share their film experiences and preferences with the community.</div>
        </div>
    </div>
    <!--Dev. team-->
    <div class="pt-3 pb-5">
        <div class="text-tag-yellow font-primary text-3xl">
            Development team
        </div>
        <div class="flex flex-row justify-between mx-5 mt-8">
            <!--Pawitchaya-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/39559733?v=4" alt="Pawitchaya" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Pawitchaya Chaloeijanya</div>
                <span class="text-sm text-gray-400">Float</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/GToidZ">GitHub</a>
            </div>
            <!--Napasakorn-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/89629829?v=4" alt="Napasakorn" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Napasakorn Boonkerd</div>
                <span class="text-sm text-gray-400">Savetang</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/Savetang19">GitHub</a>
            </div>
            <!--Supakrit-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/92836314?v=4" alt="Supakrit" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Supakrit Aphonmaeklong</div>
                <span class="text-sm text-gray-400">Tan</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/Supakrit65">GitHub</a>
            </div>
        </div>
        <div class="flex flex-row justify-between mx-5 mt-8">
            <!--Tanabodee-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/92779764?v=4" alt="Tanabodee" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Tanabodee Yambangyang</div>
                <span class="text-sm text-gray-400">Title</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/Tanabodee-Yambangyang">GitHub</a>
            </div>
            <!--Pinpimarn-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/92824339?v=4" alt="Pinpimarn" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Pinpimarn Pinpisit</div>
                <span class="text-sm text-gray-400">Boom</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/pinpimarn">GitHub</a>
            </div>
            <!--Pinpimarn-->
            <div class="flex flex-col items-center">
                <img class="mb-3 w-40 h-40 rounded-full shadow-xl" src="https://avatars.githubusercontent.com/u/92837082?v=4" alt="Jiratchaya" />
                <div class="mb-1 text-tag-yellow text-xl font-primary">Jiratchaya Phinyodom</div>
                <span class="text-sm text-gray-400">Pang</span>
                <a class="text-white text-lg font-body underline" href="https://github.com/jiratchayaphinyodom">GitHub</a>
            </div>
        </div>
    </div>
    <!--TMDB attribution-->
    <div class="pt-5 flex fle-row items-center justify-center">
        <div class="w-10">
            <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="TMDB Logo" />
        </div>
        <div class="font-primary text-base text-gray-300 pl-5">
            This product uses the TMDB API but is not endorsed or certified by TMDB.
        </div>
    </div>
</div>