<div class="p-5 divide-y divide-tag-yellow">
    <!--What is WongNung-->
    <div class="w-full pb-5">
        <div class="font-primary text-tag-yellow text-3xl">
            What is WongNung?
        </div>
        <div class="font-body text-white text-xl indent-10 pt-3">
            <div>“WongNung” is a community-driven review-aggregation web application for film where users can read, post reviews for film and discover groups of users (called Fandom) with similar film preferences. Users can also join those Fandoms to discover films that are reviewed by the members and keep themselves personalized to their film preferences.</div>
            <div>The application is intended for users who want to share their film experiences and preferences with the community.</div>
        </div>
    </div>
    <!--Dev. team-->
    <div class="pt-3">
        <div class="text-tag-yellow font-primary text-3xl">
            Development team
        </div>
        <div class="flex flex-row justify-between mx-10 my-10">
            <!--Pawitchaya-->
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg">
                <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name</h3>
                <span class="text-sm text-gray-500 dark:text-gray-400"></span>
            </div>
            <!--Pawitchaya-->
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg">
                <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name</h3>
                <span class="text-sm text-gray-500 dark:text-gray-400"></span>
            </div>
            <!--Pawitchaya-->
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg">
                <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name</h3>
                <span class="text-sm text-gray-500 dark:text-gray-400"></span>
            </div>
            <!--Pawitchaya-->
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg">
                <h3 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Name</h3>
                <span class="text-sm text-gray-500 dark:text-gray-400"></span>
            </div>
        </div>
    </div>
</div>