<div class="flex flex-auto p-3 mt-3 h-[calc(100vh-80px)] overflow-hidden">
    <div class=" flex flex-row gap-x-3 grow items-stretch">
        <div class="flex flex-col flex-auto w-full h-full rounded-md self-center pr-4 overflow-auto scrollbar">
        {% if review_set %}
                <div class="flex flex-col sticky space-y-4">
                    {% for review in review_set %}
                        <div hx-get="{% url 'wongnung:review-component' review.pk %}"
                             hx-target="this"
                             hx-swap="outerHTML"
                             hx-trigger="intersect once">
                        </div>
                    {% endfor %}
                </div>
        {% endif %}
        </div>
    </div>
</div>