{% extends "wongnung/wongnung_page.html" %}
{% block t %}{{ fandom.name }}{% endblock t %}
{% block c %}
<div class="min-w-full h-16 bg-[#858585] flex flex-row items-center drop-shadow-xl justify-between fandom{{ fandom.name }}">
    <div class="flex flex-row items-center">
        <div class="pl-24 font-primary text-3xl font-bold text-tag-yellow ">
            #{{ fandom.name }}
        </div>
        <div class="px-10 font-body text-xl text-white">
            {{ members_num }} members
        </div>
        <div class="font-body text-xl text-white">
            last active {{ last_active }} ago.
        </div>
    </div>
    {% if not user_status %}
    <!--Join fandom button-->
    <form action='{% url "wongnung:join-fandom" fandom.name %}' method="post" hx-target=".fandom{{ fandom.name }}" hx-swap="outerHTML" hx-push-url="false" hx-replace-url="false">
        {% csrf_token %}
        <fieldset>
            <button type="submit" name="join" value="join">
                <div class="bg-post-grey w-24 h-8 text-black font-primary text-lg text-center rounded-xl mr-24 items-center hover:drop-shadow-lg hover:bg-[#d0d0d0]">
                Join
                </div>
            </button>
        </fieldset>
    </form>
    {% else %}
    <!--Leave fandom button-->
    <form action='{% url "wongnung:leave-fandom" fandom.name %}' method="post" hx-target=".fandom{{ fandom.name }}" hx-swap="outerHTML" hx-push-url="false" hx-replace-url="false">
        {% csrf_token %}
        <fieldset>
            <button type="submit" name="leave" value="leave">
                <div class="bg-component-red w-24 h-8 text-white font-primary text-lg text-center rounded-xl mr-24 items-center hover:drop-shadow-lg hover:bg-red-800">
                Leave
                </div>
            </button>
        </fieldset>
    </form>
    {% endif %}
</div>
<div>
    <div class="flex flex-col min-h-screen space-y-4 bg-feed-grey mx-20 p-10 overflow-y-auto">
        <div class="text-xl text-white text-center">
            feed section
        </div>
    </div>
</div>
{% endblock c %}