<title>{{ film.title }}</title>
<div class="flex flex-auto bg-feed-grey h-screen overflow-hidden film{{ film.filmId }}">
    <div class="p-4 flex flex-row gap-x-3 grow items-stretch">
        <div class="flex flex-none h-full">
            <!-- Image size: w600, h900 -->
            <img class="object-contain md:w-64 lg:w-96 2xl:w-full"
                 src="{{ film.poster }}"
                 alt="Film Poster"/>
        </div>
        <div class="flex grow flex-col">
            <div class="flex flex-row items-center justify-between">
                <div class="font-primary text-5xl text-neutral-50 drop-shadow-xl">
                    {{ film.title }}
                </div>
                <!--Bookmark button-->
                <form {% if bookmark_status %}
                        action='{% url "wongnung:delete-bookmark" %}'
                        title="Remove from Bookmark"
                      {% else %}
                        action='{% url "wongnung:add-bookmark" %}'
                        title="Add to Bookmark"
                      {% endif %}
                      method="post"
                      hx-boost="true"
                      hx-target=".film{{ film.filmId }}"
                      hx-swap="outerHTML"
                      hx-push-url="false"
                      hx-replace-url="false"> 
                    <input type="hidden" name="url" value="wongnung:film-component" />
                    <input type="hidden" name="type" value="film" />
                    {% csrf_token %}
                    <button class="film{{ film.filmId }}-bookmark-button" type="submit" name="bookmark" value="{{ film.filmId }}" >
                        <div class="{% if bookmark_status %} film{{ film.filmId }}-bookmark-yellow-tag text-tag-yellow {% else %} film{{ film.filmId }}-bookmark-grey-tag text-post-grey {% endif %} hover:drop-shadow-lg">
                            <svg class="h-10 relative"
                                viewBox="0 0 200 322"
                                fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M0.128998 0V321.188L99.585 250.657L199.059 321.188V0H0.128998Z"/>
                            </svg>
                        </div>
                    </button>
                </form>
            </div>
            <div class="flex flex-row text-tag-yellow pt-2.5 items-center">
                <div class="text-2xl font-body pr-2">{{ film.year_released }} | Genres:</div>
                {% if film.get_genres %}
                    {% for genre in film.get_genres %}
                        <div class="rounded-3xl bg-transparent border-2 border-tag-yellow text-center text-tag-yellow px-2 mx-1">
                            <a class="hover:underline" href='{% url "wongnung:fandom" genre %}'>{{ genre }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    <span class="text-2xl">-</span>
                {% endif %}
            </div>
            <div class="pt-5 divide-y flex flex-col">
                <div class="text-neutral-50 font-body pb-1">{{ film.summary }}</div>
                <div class="flex flex-row pt-1.5 pb-1.5">
                    <div class="text-tag-yellow pr-2">Director(s):</div>
                    {% if film.get_director %}
                        {% for director in film.get_director %}<div class="text-neutral-50">{{ director }} &nbsp;</div>{% endfor %}
                    {% else %}
                        <div class="text-neutral-50">-</div>
                    {% endif %}
                </div>
                <div class="flex flex-row pt-1.5 pb-1.5">
                    <div class="text-tag-yellow pr-2">Stars:</div>
                    {% if film.get_stars %}
                        <div class="text-neutral-50">
                            {% for star in film.get_stars %}{{ star }} &nbsp;{% endfor %}
                        </div>
                    {% else %}
                        <div class="text-neutral-50">-</div>
                    {% endif %}
                </div>
                <div class="flex flex-row pt-1.5 pb-1.5 font-primary text-neutral-50 drop-shadow-xl text-4xl">Reviews:</div>
            </div>
            <div class="reviews flex flex-col flex-auto bg-post-grey w-full h-full rounded-md self-center p-4 overflow-auto scrollbar">
                {% if reviews %}
                    <div class="flex flex-col sticky">
                        {% for review in reviews %}
                            <div class="review{{ review.id }}"
                                 hx-get="{% url 'wongnung:review-component' review.pk %}"
                                 hx-target="this"
                                 hx-swap="outerHTML"
                                 hx-trigger="intersect once">
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    Nothing here yet...
                {% endif %}
            </div>
        </div>
    </div>
</div>
<a href="{% url 'wongnung:new-review' film.filmId %}">
<button class="z-10 drop-shadow-lg hover:drop-shadow-xl fixed right-8 bottom-8 rounded-full bg-component-red p-4"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
  </svg>
</button>
</a>
