<div class="m-8">
    <form action='{% url "wongnung:save-profile" %}' method="post">
        {% csrf_token %}
        <div class="flex flex-col space-y-4">
            <span class="flex text-white space-x-4 items-baseline justify-between">
                <span>Display Name:</span><input class="text-black" type="text" name="display_name" value="{{ profile.display_name }}" />
            </span>
            <span class="flex text-white space-x-4 items-center justify-between">
                <span>Profile Color:</span><input type="color" name="color" value="#{{ profile.color }}" />
            </span>
            <button class="bg-component-red text-white" type="submit">Save</button>
        </div>
    </form>
</div>