{% extends "wongnung/wongnung_page.html" %}
{% block t %}Profile{% endblock t %}
{% block c %}
<div class="flex flex-row">
     <div class="w-96 h-screen bg-feed-grey flex flex-col divide-y divide-tag-yellow px-5">
          <div class="font-primary text-white text-xl pt-6 pb-3">
               <span class="hover:cursor-pointer"
                     hx-get='{% url "wongnung:profile-settings" %}'
                     hx-target="#ShowComponent"
                     hx-swap="innerHTML"
                     hx-trigger="click"
                     title="Click here to view your profile settings">
               Profile Settings
               </span>
          </div>
          <div class="font-primary text-white text-xl py-3">
               <span class="hover:cursor-pointer"
                     hx-get='{% url "wongnung:bookmarks" %}'
                     hx-target="#ShowComponent"
                     hx-swap="innerHTML"
                     hx-trigger="click"
                     title="Click here to view your bookmarks">
               Bookmarks
               </span>
          </div>
          <div class="font-primary text-white text-xl py-3">
               <span class="hover:cursor-pointer"
                     hx-get='{% url "wongnung:about-us" %}'
                     hx-target="#ShowComponent"
                     hx-swap="innerHTML"
                     hx-trigger="click"
                     title="Click here to view about WongNung">
               About WongNung
               </span>
          </div>
          <div class="font-primary text-white text-xl py-3">
               <form action='{% url "account_logout" %}' method="post">
                    {% csrf_token %}
                    <button title="Click here to log out">Log out</button>
               </form>
          </div>
     </div>
     <div class="bg-feed-grey mx-6 w-full h-screen overflow-y-scroll scrollbar">
          <div class="flex flow-col" id="ShowComponent">
          </div>
     </div>
</div>
{% endblock c %}