{% load static %}
{% load tailwind_tags %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <script async defer src="https://www.google.com/recaptcha/api.js"></script>
    {% tailwind_css %}
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
    {% django_htmx_script %}
  </head>

  <body class="bg-back-grey scrollbar">
    {% block content %}{% endblock content %}
    <script type="text/javascript">
      const timeZoneName = Intl.DateTimeFormat().resolvedOptions().timeZone;
      document.cookie = 'timezone=' + encodeURIComponent(timeZoneName) + '; path=/';
    </script>
  </body>
</html>
